/* 전체 선택자 
전체에 스타일을 줌*/
* {
    color: aqua;
}

/* 타입 선택자 
내가 태그는 선택해 스타일을 줌*/
h1 {
    color: red;
}
p {
    color: green;
}

/* 클래스 선택자 
내가 지정하는 태그만 선택해 스타일을 주는 것*/
.color-orange {
    color: orange;
}
.font-size-3rem {
    font-size: 3rem;
}
.color-black {
    color: black;
}

/* TD 선택자 
내가 지정하는 하나의 태그만 선택해 스타일을 주는 것*/
#p-2 {
    color: blueviolet;
}

/* 그룹 선택자 
내가 지정하는 여러개의 태그만 선택해 스타일을 주는 것*/
h1, p {
    color: brown;
}