/*
!impotant
제일 우선순위로 스타일에 적용됨 BUT, 현업에서 자주 사용안함
인라인 스타일
아주 가끔 사용 BUT, 되도록 쓰지말것
id 스타일
현업에서 자주 사용하는 스타일 중 제일 우선순위
클래스 스타일
타입 스타일
현업에서 자주 사용하는 스타일 중 제일 우선순위
상속 스타일
이론상 제일 낮은 우선순위*/
#id-test {
    color: cadetblue;
}
.class-test {
    color: aqua;
}
h1 {
    color: red;
}
h1 {
    color: green;
}